version: "3.9"

services:
  api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: teacher
      POSTGRES_PASSWORD: teacherpass
      POSTGRES_DB: teacher_ai
    ports:
      - "5432:5432"
